.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}
body {
  overflow: hidden;
}
.NavBar {
  width: 22vw;
  height: 100vh;
  /* border: 1px solid #b3b3b3; */
  background-color: #E7ECEF;
  /* border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; */
}

.Content {
  width: 78vw;
  height: 100vh;
  /* border: 1px solid #B3B3B3; */
}
.NavigationBackAndNext {
  width: 78vw;
  height: 10vh;
  display: flex;
  /* border-top: 1px solid #b3b3b3; */
}
.InnerContent {
  height: 90vh;
  width: 78vw;
}
