@font-face {
  font-family: "Noto Sans";
  src: url("./Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  /* Add other variations (e.g., bold, italic, etc.) if needed */
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}
body {
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
}
.NavBar {
  width: 22vw;
  height: 100vh;
  /* border: 1px solid #b3b3b3; */
  background-color: #e7ecef;
  /* border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; */
}

.Content {
  width: 78vw;
  height: 100vh;
  /* border: 1px solid #B3B3B3; */
}
.NavigationBackAndNext {
  width: 90%;
  height: 10vh;
  display: flex;
  /* border: 1px solid #b3b3b3; */
  margin: auto;
}
.InnerContent {
  height: 90vh;
  width: 90%;
  margin: auto;
}
