@font-face {
  font-family: "Noto Sans";
  src: url("./Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  /* Add other variations (e.g., bold, italic, etc.) if needed */
}

.App {
  text-align: center;
}
.AppContent {
  display: flex;
  width: 100vw;
  height: calc(100vh - 45px);
  /* margin-top: 45px; */
}
.topNavBar {
  border-bottom: 2px solid #2546f0;
  height: 45px;
  width: 100vw;
}
body {
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
}
.NavBar {
  width: 22vw;
  height: calc(100vh - 45px);
  /* border: 1px solid #b3b3b3; */
  background-color: #e7ecef;
  /* margin-top: 45px; */
  /* border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; */
}

.Content {
  width: 78vw;
  height: calc(100vh - 45px);
  /* margin-top: 45px; */

  /* border: 1px solid #B3B3B3; */
}
.NavigationBackAndNext {
  width: 90%;
  height: 10vh;
  display: flex;
  /* border: 1px solid #b3b3b3; */
  margin: auto;
  position: relative;
  z-index: 99;
  background-color: white;
}
.InnerContent {
  height: calc(90vh - 45px);
  width: 90%;
  margin: auto;
}

button {
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
}
.HomePage {
  width: 100%;
  height: 100vh;
}
.homepageImage {
  width: 50%;
  height: 200px;
  margin: 100px auto auto;
}

td {
  height: 30px;
  border: 1px solid #e7ecef;
}
.homepageHeading {
  color: #000;
  text-align: center;
  font-family: Noto Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.homepageLODiv {
  width: 659px;
  height: 38px;
  background: #d9d9d9;
}
.homepageLO {
  font-weight: 800;
}
.homepageLearningOutcomes {
  border: 1px solid #1c1d21;
  width: 659px;
  height: auto;
  margin: 20px auto;
}
.homepageLearningOutcomesInnerDiv{
  text-align: left;
  padding: 10px;
}
.homepageLearningOutcomesInnerDiv > p{
  margin-block-start: 10px;
  
}