.ImageAndLogo {
  width: 120px;
  height: auto;
  margin-top: 20px;
  margin-left: 5%;
  border: 3px solid;
  display: flex;
}
.imageLogo {
  width: 80px;
  height: 80px;
  margin: auto;
}

.heading {
  font-size: 40px;
  margin: auto;
}
.NavContent {
  width: 100%;
  margin: 50px auto;
  /* border: 1px solid; */
  height: 50vh;
  /* padding: 10px; */
}
.NavContentSections {
  width: 90%;
  text-align: left;
  margin: 30px auto;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: 14px;
}
.NavContentHover {
  color: #1176d3;
}
.h3Heading {
  text-align: left;
  width: 90%;
  margin: 10px auto 10px auto;
  font-size: 25px;
}
.standardButton {
  width: 133px;
  height: 50px;
  /* border-radius: 8px; */
  cursor: pointer;
  border: none;
  background-color: #2546f0;
  color: white;
  font-weight: 800;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: auto;
}
.standardButton:nth-child(1) {
  /* margin-left: 40px;
    margin-right: auto; */
  background-color: #e7ecef;
  color: black;
}
.standardButton:nth-child(2) {
  /* margin-right: 40px;
    margin-left: auto; */
  background-color: #1c1d21;
}
.standardButton:nth-child(1):hover {
  background-color: #2546f0;
  color: white;
}
.standardButton:nth-child(2):hover {
  background-color: #2546f0;
  color: white;
}

.innerNavBackAndNext {
  width: 300px;
  margin-right: 0px;
  margin-left: auto;
  /* padding: 10px; */
  display: flex;
  height: 10vh;
}
.BreadCrumbsMenu {
  width: 90%;
  height: 60px;
  /* border: 1px solid; */
  margin: 10px auto;
  font-size: 12px;
  font-weight: 800;
}
.BoldHeading {
  font-weight: 800;
}
.mainInnerContent {
  width: 90%;
  height: 75vh;
  margin: auto;
  /* border: 1px solid; */
  overflow-x: hidden;
  text-align: left;
  overflow-y: auto;
  padding: 10px;
}
.mainInnerContentHeading {
  font-size: 20px;
  font-weight: 600;
}
.mainInnerContentData {
  margin-top: 20px;
}
.innerContentAndHeading {
  margin-top: 20px;
}

.iframeContent {
  width: 1200px;
  height: 700px;
  /* border: 1px solid red; */
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* Center the iframe horizontally */
  align-items: center; /* Center the iframe vertically */
  transform: scale(0.8);
  margin-left: -120px;
  margin-top: -50px;
}
.hyperLink {
  color: black;
  font-weight: bold;
}
