.ImageAndLogo {
  width: 93.62px;
  height: auto;
  margin-top: 20px;
  margin-left: 6%;
  border: 3px solid;
  display: flex;
  height: auto;
}
.imageLogo {
  width: 80px;
  height: 80px;
  margin: auto;
}

.heading {
  font-size: 24px;
  margin: auto;
  font-weight: 800;
}
.NavContent {
  width: 100%;
  margin: 50px auto;
  /* border: 1px solid; */
  height: 50vh;
  /* padding: 10px; */
}
.NavContentSections {
  width: 90%;
  text-align: left;
  margin: 30px auto;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: 14px;
  margin-left: 6%;
}
.NavContentHover {
  color: #1176d3;
}
.h3Heading {
  text-align: left;
  width: 90%;
  margin: 10px auto 10px auto;
  font-size: 25px;
}
.standardButton {
  width: 133px;
  height: 50px;
  /* border-radius: 8px; */
  cursor: pointer;
  border: none;
  background-color: #2546f0;
  color: white;
  font-weight: 800;
  font-size: 14px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: auto;
  margin-left: auto;
}
.standardButton:nth-child(1) {
  /* margin-left: 40px;
    margin-right: auto; */
  background-color: #e7ecef;
  color: black;
}
.standardButton:nth-child(2) {
  /* margin-right: 40px;
    margin-left: auto; */
  background-color: #1c1d21;
}
.standardButton:nth-child(1):hover {
  background-color: #d0d4d7;
  color: #1c1d21;
}
.standardButton:nth-child(2):hover {
  background-color: #2546f0;
  color: white;
}
.HomePageButton:hover {
  background-color: #2546f0 !important;
}

.innerNavBackAndNext {
  width: 300px;
  margin-right: 0px;
  margin-left: auto;
  /* padding: 10px; */
  display: flex;
  height: 10vh;
}
.BreadCrumbsMenu {
  width: 100%;
  height: 60px;
  /* border: 1px solid; */
  margin: 10px auto;
  font-size: 12px;
  font-weight: 800;
}
.BoldHeading {
  font-weight: 800;
}
.mainInnerContent {
  width: 90%;
  height: calc(75vh - 45px);
  margin: auto;
  /* border: 1px solid; */
  overflow-x: hidden;
  text-align: left;
  overflow-y: auto;
  padding: 10px;
}
.mainInnerContent::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
.mainInnerContent::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}
.mainInnerContentHeading {
  font-size: 40px;
  font-weight: 600;
}
.mainInnerContentData {
  margin-top: 20px;
  font-size: 14px;
}
.innerContentAndHeading {
  margin-top: 20px;
}

.iframeContent {
  width: 100%;
  max-height: 700px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* Center the iframe horizontally */
  align-items: center; /* Center the iframe vertically */
  /* transform: scale(0.7); */
  /* margin-left: -180px; */
  /* margin-top: -105px; */
}

.hyperLink {
  color: black;
  font-weight: bold;
}

.NavBarSectionNames {
  float: left;
  width: 22vw;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 45px;
  text-align: right;
}
.spanSectionNames {
  color: #1c1d21;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.spanSectionNames:nth-child(1) {
  margin-left: 20px;
}
.settingSectionNames {
  height: 45px;
  float: right;
  width: 10vw;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  cursor: pointer;
}

.TableDiv {
  height: auto;
  width: auto;
  padding-bottom: 10px;
}
.homepageSubheading {
  color: #000;
  text-align: center;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 489px;
  height: 58px;
  margin-top: 20px;
}
.ImageCarousel {
  width: auto;
  height: 400px;
  margin: auto;
}
.ImageCarouselDiv {
  margin: auto;
  width: 500px;
  height: auto;
  /* margin-bottom: 150px; */
  text-align: center;
  /* padding-bottom: 100px; */
}
.slick-prev {
  background-color: #b7c0c3 !important;
  left: 40% !important;
  position: absolute !important;
  top: 94.5% !important;
  width: 25px !important;
  height: 25px !important;
}
.slick-next {
  background-color: #b7c0c3 !important;
  position: relative !important;
  left: 58% !important;
  width: 25px !important;
  height: 25px !important;
}
