.ImageAndLogo {
  width: 90%;
  height: 100px;
  margin: auto;
  border-bottom: 1px solid;
  display: flex;
}
.imageLogo {
  width: 80px;
  height: 80px;
  margin: auto;
}

.heading {
  font-size: 40px;
  margin: auto;
}
.NavContent {
  width: 90%;
  margin: 50px auto;
  /* border: 1px solid; */
  height: 50vh;
  /* padding: 10px; */
}
.NavContentSections {
  width: 90%;
  text-align: left;
  margin: auto;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: larger;
}
.NavContentHover {
  color: #1176d3;
}
.h3Heading {
  text-align: left;
  width: 90%;
  margin: 10px auto 30px auto;
  font-size: 25px;
}
.standardButton {
  width: 133px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #2546f0;
  color: white;
}
.standardButton:nth-child(1){
    margin-left: 40px;
    margin-right: auto;
}
.standardButton:nth-child(2){
    margin-right: 40px;
    margin-left: auto;
}
.standardButton:hover {
  background-color: #063461;
  color: white;
}
.innerNavBackAndNext {
  width: 100%;
  margin: auto;
  /* padding: 10px; */
  display: flex;
  height: 10vh;
}
